<h3><%= link_to "HOME", home_index_path %></li> <br></h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :não_esquecer %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "entrar" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
