<h2>sing up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :nome %><br />
  <%= f.text_field :nome, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone, autofocus: true %>
  </div>
   
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastar" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
