<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resumo %>
    <%= form.text_area :resumo %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo %>
  </div>

  <div class="field">
    <%= form.label :salario %>
    <%= form.text_field :salario %>
  </div>

  <div class="field">
    <%= form.label :vagas %>
    <%= form.number_field :vagas %>
  </div><br>
  <h1>Dados da Empresa</h1>
  <%= form.fields_for :address do |ff| %><br>
    <div class="field">
      <%= ff.label :rua %>
      <%= ff.text_area :rua %>
    </div>

    <div class="field">
      <%= ff.label :cep %>
      <%= ff.text_field :cep %>
    </div>

    <div class="field">
      <%= ff.label :telefone %>
      <%= ff.phone_field :telefone %>
    </div>

    <div class="field">
      <%= ff.label :referencia %>
      <%= ff.text_area :referencia %>
    </div>

    <div class="field">
      <%= ff.label :email %>
      <%= ff.email_field :email %>
    </div>

    <div class="field">
      <%= ff.label :requisito %>
      <%= ff.text_area :requisito %>
    </div>

  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
