<p id="notice"><%= notice %></p>



<table>
  <thead>
 
    <tr>
      <th>Resumo</th>
      <th>Cargo</th>
      <th>Salario</th>
      <th>Vagas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.resumo %></td>
        <td><%= job.cargo %></td>
        <td><%= job.salario %></td>
        <td><%= job.vagas %></td>
        
      
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<td><%= link_to 'Detalhe geral das vagas', addresses_path %></td><br><br>
        
<td><%= link_to 'Voltar ', home_index_path %></td>

<br>


