<p id="notice"><%= notice %></p>

<p>
  <strong>Resumo:</strong>
  <%= @job.resumo %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @job.cargo %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @job.salario %>
</p>

<p>
  <strong>Vagas:</strong>
  <%= @job.vagas %>
</p>

<%= link_to 'voltar', jobs_path%>
