
<h1>Candidatos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= user.telefone %></td>
        <td><%= user.cpf %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<td><%= link_to 'voltar',home_index_path %></td>

<br>


