<h3><%= link_to "HOME", home_index_path %></li></h3>


<% if member_signed_in? %>

<ul>            
    <h1><%= current_member.email %></li></h1>
    <h1> <%= link_to "Sair", destroy_member_session_path, method: :delete %></li> <br><br></h1>
    
</ul>
<ul>

   <h1> <%= link_to "Cadastra Vaga", new_job_path %></li> <br><br></h1>
   <h1>  <%= link_to "Visualizar vagas cadastradas", jobs_path %></li> <br><br></h1>
   <h1> <%= link_to "Historico de candidatos", users_path %></li> <br><br></h1>
   
<% else %>

    <h4><%= link_to " Cadastra vaga", new_member_session_path%></li> <br><br></h4>
    <h4><%= link_to "Procurar Emprego",new_user_path%></li> <br></h4><br><br>

   
    

<% end %>   

