<p id="notice"><%= notice %></p>

<h1>Detalhes</h1>

<table>
  <thead>
    <tr>
      <th>Rua</th>
      <th>Cep</th>
      <th>Telefone</th>
      <th>Referencia</th>
      <th>Email</th>
      <th>Requisito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.rua %></td>
        <td><%= address.cep %></td>
        <td><%= address.telefone %></td>
        <td><%= address.referencia %></td>
        <td><%= address.email %></td>
        <td><%= address.requisito %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to 'Voltar', home_index_path  %></td>
<br>

