<p id="notice"><%= notice %></p>

<p>
  <strong>Rua:</strong>
  <%= @address.rua %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @address.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @address.telefone %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @address.referencia %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Requisito:</strong>
  <%= @address.requisito %>
</p>

<p>
  <strong>Job:</strong>
  <%= @address.job %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
