body {
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgb(35,35,49)),url(predio.jpg);
  height: 100vh;
  background-size:cover;
  background-position: center;
  color: #fff;
 

  margin: 150px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  text-align: center;

}

a {
  color: #fff;

  &:visited {
    text-decoration: none;
    
  }

  &:hover {
  
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.6s ease;
  background-color: #ffffff;
  color: #000;
  }
}

th {
  padding-bottom: 5px;
 
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
    text-align: center;
    
  }

}

label {
  display: block;
}

h1{
  color: #fff;
  font-size: 20px;
  float: cente;
  line-height: 18px;

}

h3{
  color: #fff;
  font-size: 30px;
  float: cente;
  width: 300px;
  height: 200px;
  margin: -80px -10px 0;
  text-align: center;
}

h4{
  color: #fff;
  font-size: 30px;
  float: cente;
  width: 1650px;
  margin: -113px -10px 0;
  
}
h5{

  color: #fff;
  font-size: 10px;
  float: auto;
  width: 1950px;
  top: 100px;
  
  

}


